In [2]:
import pandas as pd

## Order Customers

In [23]:
customer_df = pd.read_csv('olist_customers_dataset.csv')

customer_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [35]:
print("customer_id 고유값:", customer_df['customer_id'].nunique())
print("customer_unique_id 고유값:", customer_df['customer_unique_id'].nunique())

customer_id 고유값: 99441
customer_unique_id 고유값: 96096

In [37]:
unique_to_id_count = customer_df.groupby('customer_unique_id')['customer_id'].nunique()
print(unique_to_id_count[unique_to_id_count > 1])  # 1보다 큰 값이 있으면 문제!

customer_unique_id
00172711b30d52eea8b313a7f2cced02    2
004288347e5e88a27ded2bb23747066c    2
004b45ec5c64187465168251cd1c9c2f    2
0058f300f57d7b93c477a131a59b36c3    2
00a39521eb40f7012db50455bf083460    2
                                   ..
ff36be26206fffe1eb37afd54c70e18b    3
ff44401d0d8f5b9c54a47374eb48c1b8    2
ff8892f7c26aa0446da53d01b18df463    2
ff922bdd6bafcdf99cb90d7f39cea5b3    3
ffe254cc039740e17dd15a5305035928    2
Name: customer_id, Length: 2997, dtype: int64

In [ ]:
relationship = customer_df.groupby('customer_id')['customer_unique_id'].apply(list).reset_index()
relationship

                            customer_id                  customer_unique_id
0      00012a2ce6f8dcda20d059ce98491703  [248ffe10d632bebe4f7267f1f44844c9]
1      000161a058600d5901f007fab4c27140  [b0015e09bb4b6e47c52844fab5fb6638]
2      0001fd6190edaaf884bcaf3d49edf079  [94b11d37cd61cb2994a194d11f89682b]
3      0002414f95344307404f0ace7a26f1d5  [4893ad4ea28b2c5b3ddf4e82e79db9e6]
4      000379cdec625522490c315e70c7a9fb  [0b83f73b19c2019e182fd552c048a22c]
...                                 ...                                 ...
99436  fffecc9f79fd8c764f843e9951b11341  [e5794df8573fa179a90a7b797fc4b71f]
99437  fffeda5b6d849fbd39689bb92087f431  [afbb5a642107cf6bb1ca68e863175f03]
99438  ffff42319e9b2d713724ae527742af25  [680213db6ebd9e4f24d03280cbe10346]
99439  ffffa3172527f765de70084a7e53aae8  [48fd7dec70f2b104a1d5e8c5c639102b]
99440  ffffe8b65bbe3087b653a978c870db99  [736e6bfa0510aa5b878881a226a5fd89]

[99441 rows x 2 columns]

In [20]:
geolocation_df = pd.read_csv('olist_geolocation_dataset.csv')

geolocation_df.head(1)
geolocation_df.dtypes

geolocation_zip_code_prefix      int64
geolocation_lat                float64
geolocation_lng                float64
geolocation_city                object
geolocation_state               object
dtype: object

In [22]:
a = pd.merge(customer_df, geolocation_df, left_on='customer_zip_code_prefix', right_on='geolocation_zip_code_prefix', how='left')
a.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.509897,-47.397866,franca,SP
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.497396,-47.399241,franca,SP
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.510459,-47.399553,franca,SP
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.480940,-47.394161,franca,SP
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP,14409.0,-20.515413,-47.398194,franca,SP

## Orders

In [50]:
order_df = pd.read_csv('olist_orders_dataset.csv')

order_df.head(1)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

## Order Reviews

In [51]:
order_reviews_df = pd.read_csv('olist_order_reviews_dataset.csv')

order_reviews_df.head(1)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59

## Order Items

In [48]:
order_items_df = pd.read_csv('olist_order_items_dataset.csv')

order_items_df.head(1)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29

## Products

In [53]:
order_products_df = pd.read_csv('olist_products_dataset.csv')

order_products_df.head(1)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0

## Sellers

In [54]:
order_sellers_df = pd.read_csv('olist_sellers_dataset.csv')

order_sellers_df.head(1)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP